<h4>Lista</h4>
<ul class="list-group"
  *ngFor="let personagem of listaPersonagens;
  let i = index;
  let ePar = even">
  <li class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass]="{ 'list-group-item-primary' : ePar }">
    <div>
      <span class="text-primary"> {{ i + 1}}.</span>
      {{ personagem.nome}} -
      <strong>
        {{ personagem.poder }}
      </strong>
    </div>

    <button
      class="btn btn-danger"
      (click)="emitPersonagemId( personagem.id )">X</button>
    </li>
</ul>
